* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
html {
  width: 100%;
  height: 100%;
}
body {
  height: 100%;
  min-height: 568px;
  overflow: scroll;
  width: 100%;
  min-width: 375px;
}
.center-container {
  position: absolute;
  height: 100%;
  min-height: 568px;
  max-height: 812px;
  width: 100%;
  min-width: 375px;
  max-width: 500px;
  overflow: hidden;
}
.center-container div.mask {
  filter: opacity(0.5) brightness(0.6);
  background: white;
}
@media screen and (min-height: 812px) {
  .center-container {
    height: 812px;
    top: calc(50% - 812px / 2);
  }
}
@media screen and (min-width: 500px) {
  .center-container {
    width: 414px;
    left: calc(50% - 414px / 2);
  }
}
.full {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.full.fit-body {
  min-height: 568px;
  min-width: 375px;
}
.img-fit {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: inherit;
}
.img-contain {
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  display: inherit;
}
.wall-avatar {
  background-image: url("https://image.6-79.cn/jzdxq/wall.jpeg");
}
.bg-blur {
  position: absolute;
  top: -8px;
  left: -8px;
  width: calc(100% + 2*8px);
  height: calc(100% + 2*8px);
  filter: brightness(70%) blur(8px);
  background-color: black;
}
.img-random {
  background-image: url("https://unsplash.6-79.cn/random/small?quick=1");
}
.light-shadow {
  box-shadow: 1px 3px 10px 0 #c0c0c0;
}
.strong-shadow {
  box-shadow: 1px 3px 10px 0 gray;
}
.animate {
  transition: 0.2s;
}
.hover-strong {
  filter: opacity(0.4);
}
.hover-strong:hover {
  filter: opacity(1);
}
.ptr {
  cursor: pointer;
}
.hidden {
  visibility: hidden;
}
.bg {
  background: #2194f9;
  z-index: -1;
}
.eng {
  font-family: 'COCOGOOSE', serif;
}
div.footer {
  position: absolute;
  bottom: 0;
  height: 40px;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 100%;
}
div.footer span.line {
  height: 16px;
  line-height: 16px;
  vertical-align: middle;
  color: white;
  margin: 0 3px;
}
div.footer img.logo {
  height: 16px;
  margin: 0 3px;
}
div.main-container {
  height: calc(100% - 40px);
  overflow: scroll;
}
div.section-container.white {
  background: white;
  color: #2194f9;
}
div.section-container.white div.item div.time {
  margin-top: 20px;
  width: 100%;
  text-align: center;
}
div.section-container.white div.item div.time span {
  border-top: 2px solid #2194f9;
}
div.section-container.white div.item div.text {
  width: 100%;
  text-align: center;
  color: #888;
  font-size: 12px;
  padding-bottom: 20px;
}
div.section-container {
  position: relative;
  width: 100%;
  color: white;
}
div.section-container div.title {
  font-family: 'jphuaifangti164c70ce3917b98', serif;
  font-size: 20px;
  width: 100%;
  background: white;
  color: #2194f9;
  text-align: center;
  padding: 10px 0;
  margin-bottom: 10px;
}
div.section-container div.title span.eng {
  margin-left: 10px;
}
div.section-container div.title.sub {
  background: #196fbb;
  color: white;
}
div.section-container div.item {
  margin-bottom: 10px;
  font-size: 0;
}
div.section-container div.item div.time {
  font-family: 'COCOGOOSE', serif;
  border-left: 3px solid white;
  padding-left: 10px;
  margin-bottom: 10px;
  font-size: 16px;
}
div.section-container div.item div.member-list {
  font-size: 0;
}
div.section-container div.item div.member-list div.member-item {
  display: inline-block;
  margin-bottom: 10px;
  width: 33.33%;
  text-align: center;
}
div.section-container div.item div.member-list div.member-item div.avatar {
  width: 60px;
  height: 60px;
  border-radius: 30px;
}
div.section-container div.item div.member-list div.member-item div.name {
  margin-top: 10px;
  width: 100%;
  text-align: center;
  font-size: 14px;
}
div.section-container div.item div.member-list div.secret {
  margin-bottom: 10px;
  margin-left: 10px;
  font-size: 14px;
}
div.section-container div.item div.event-list {
  font-size: 0;
}
div.section-container div.item div.event-list div.event-item {
  position: relative;
  font-size: 14px;
  height: 28px;
}
div.section-container div.item div.event-list div.event-item span {
  position: absolute;
  height: 28px;
  line-height: 28px;
  vertical-align: middle;
}
div.section-container div.item div.event-list div.event-item span.eng {
  letter-spacing: 2px;
}
div.section-container div.item div.event-list div.event-item span.eng.month {
  left: 10px;
  width: 25px;
  text-align: right;
}
div.section-container div.item div.event-list div.event-item span.eng.day {
  color: #b5dbfd;
  left: 40px;
}
div.section-container div.item div.event-list div.event-item span.text {
  left: 70px;
}
div.section-container div.item div.shuoshuo {
  overflow: hidden;
  position: relative;
  width: calc(100% - 20px);
  border-radius: 5px;
  background: white;
  padding: 10px;
  margin: 0 10px;
}
div.section-container div.item div.shuoshuo div.header {
  position: relative;
  height: 30px;
  width: calc(100% - 40px);
}
div.section-container div.item div.shuoshuo div.header div {
  display: inline-block;
}
div.section-container div.item div.shuoshuo div.header div.wall-avatar {
  width: 30px;
  height: 30px;
  border-radius: 15px;
}
div.section-container div.item div.shuoshuo div.header div.usertime {
  position: absolute;
  top: 0;
  left: 40px;
}
div.section-container div.item div.shuoshuo div.header div.usertime span {
  position: absolute;
  width: max-content;
}
div.section-container div.item div.shuoshuo div.header div.usertime span.user {
  font-weight: bold;
  font-size: 14px;
  color: black;
}
div.section-container div.item div.shuoshuo div.header div.usertime span.time {
  top: 15px;
  font-size: 12px;
  color: #888;
}
div.section-container div.item div.shuoshuo div.content {
  color: black;
  font-size: 12px;
  margin: 10px 0;
  padding: 0 40px;
  text-align: justify;
}
div.section-container div.item div.shuoshuo div.foot {
  width: 100%;
  text-align: right;
  color: black;
  font-size: 0;
  height: 24px;
  padding-right: 40px;
}
div.section-container div.item div.shuoshuo div.foot span {
  display: inline-block;
  font-size: 12px;
  height: 24px;
  line-height: 24px;
  vertical-align: middle;
}
div.section-container div.item div.shuoshuo div.foot span.icon {
  margin-left: 20px;
}
div.section-container div.item div.shuoshuo div.foot span.icon-cmt {
  color: #2194f9;
}
div.section-container div.item div.shuoshuo div.foot span.icon-like {
  color: #df0a17;
}
div.section-container div.item div.shuoshuo div.foot span.icon-view {
  color: #5bbd63;
}
div.section-container div.item div.shuoshuo div.foot span.num {
  font-family: 'COCOGOOSE', serif;
  margin-left: 5px;
  color: #888;
}
div.section-container div.item div.shuoshuo div.go {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 40px;
  background: #555;
}
div.section-container div.item div.shuoshuo div.go span {
  font-size: 14px;
  position: absolute;
  width: 100%;
  text-align: center;
  top: calc(50% - 7px);
  color: white;
}
div.tshirt {
  display: inline-block;
  height: 200px;
  width: 50%;
  margin: 10px 0;
}
div.postcard {
  width: 100%;
  height: 200px;
  margin: 10px 0;
}
div.postcard:after {
  content: '样品';
  font-size: 50px;
  color: rgba(255, 255, 255, 0.3);
  margin-left: 80px;
}
/*# sourceMappingURL=base.css.map */